@use '@styles/variables' as vars;

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: vars.$neutral-black;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: vars.$z-highest; // Zorgt ervoor dat het boven alles staat
  opacity: 1;
  transition: opacity 0.5s ease-out;
}

.videoPlayer {
  width: 100%;
  height: 100%;
  object-fit: contain; // Zorgt dat de hele video zichtbaar is
}

.skipButton {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.625rem 1.25rem;
  background-color: rgba(vars.$neutral-black, 0.5);
  color: vars.$neutral-white;
  border: 1px solid vars.$neutral-white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  z-index: vars.$z-low; // Ensure it's above the video
}
