@use '@styles/variables' as vars;

.searchBar {
    display: flex;
    margin-bottom: 1rem;
}

.searchInput {
    flex-grow: 1;
    padding: 0.5rem;
    border: 1px solid vars.$border-subtle;
    border-radius: 4px;
}

.searchButton {
    padding: 0.5rem 1rem;
    border: 1px solid vars.$border-subtle;
    border-radius: 4px;
    background-color: vars.$neutral-light;
    cursor: pointer;
}
