@use '@styles/variables' as vars;

.frame {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 0.5rem 1rem;
  background-color: vars.$neutral-cream;
  border: 0.117rem solid vars.$neutral-black;
  border-radius: 8px;
  width: 27.375rem;
  height: 5.375rem;
  box-sizing: border-box;
}

.button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  transition: transform 0.1s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }

  &:active {
    transform: scale(0.95);
  }
}


