/* Import reset styles first */
@use "./styles/_reset.scss";
@use "./styles/variables" as *;

/* App-specific overrides only */
.app-layout {
  background-color: $secondary-dark; /* Main app background */
  }

/* Remove navbar padding for homepage since it has its own layout */
.main-content--no-header {
  padding-top: 0;
  }

// TODO Checken of we styles uit App.scss.old nodig hebben.