/**
 * @file index.scss
 * @description Hoofdstijlbestand voor import in React-applicatie "Gedichtgevel.nl"
 * @author Jerôme
 * @group Entry
 * @imports Alle benodigde stijlbestanden
 * @exports Globale CSS voor de applicatie
 */

/* ======================================================= 
 * MAIN ENTRY POINT
 * ======================================================= */

/*
 * Het beginpunt van onze stilistische reis,
 * Import na import, in geordende wijs;
 * Van essentiële reset tot typografisch sieraad,
 * Hier start de harmonie van ons visueel apparaat.
 */

// Importeer basiscomponenten in juiste volgorde
@import "./styles/reset";
@import "./styles/variables";
@import "./styles/mixins";
@import "./styles/typography";
@import "./styles/layout";
@import "./styles/effects";
//@import './styles/themes';
@import "./styles/utilities";
@import "./styles/app";

/* ======================================================= 
 * ACCESSIBILITY FOCUS
 * ======================================================= */

/*
 * Voor wie de muis vermijdt, de toets verkiest,
 * Toegankelijkheid die niemand uitsluit of verliest;
 * Focus-stijlen zo duidelijk en precies,
 * Voor iedereen navigeerbaar, zonder verlies.
 */

:focus {
  outline:        3px solid var(--color-info);
  outline-offset: 2px;
  }

:focus:not(:focus-visible) {
  outline: none;
  }

:focus-visible {
  outline:        3px solid var(--color-info);
  outline-offset: 2px;
  }