/**
 * @file index.scss
 * @description Hoofdstijlbestand voor import in React-applicatie "Gedichtgevel.nl"
 * @author Jerôme
 * @group Entry
 * @imports Alle benodigde stijlbestanden
 * @exports Globale CSS voor de applicatie
 */

/* ======================================================= 
 * MAIN ENTRY POINT
 * ======================================================= */

/*
 * Het beginpunt van onze stilistische reis,
 * Import na import, in geordende wijs;
 * Van essentiële reset tot typografisch sieraad,
 * Hier start de harmonie van ons visueel apparaat.
 */

// Forward all modules so they can be used with @use in other files
@forward "./styles/variables";
@forward "./styles/mixins";
@forward "./styles/effects";

// Use modules - order matters!
@use "./styles/reset";
@use "./styles/variables" as *;  // Make variables globally available
@use "./styles/mixins" as *;     // Make mixins globally available
@use "./styles/typography";
@use "./styles/layout";
@use "./styles/effects" as *;    // Make effect variables globally available
@use "./styles/utilities";
@use "./styles/app";

/* ======================================================= 
 * ACCESSIBILITY FOCUS
 * ======================================================= */

/*
 * Voor wie de muis vermijdt, de toets verkiest,
 * Toegankelijkheid die niemand uitsluit of verliest;
 * Focus-stijlen zo duidelijk en precies,
 * Voor iedereen navigeerbaar, zonder verlies.
 */

:focus {
  outline:        3px solid var(--color-info);
  outline-offset: 2px;
  }

:focus:not(:focus-visible) {
  outline: none;
  }

:focus-visible {
  outline:        3px solid var(--color-info);
  outline-offset: 2px;
  }